<p>registro-input works!</p>
<div class="container">
  <form #mascotasForm="ngForm" (ngSubmit) = "enviar()">
    <div class="form-group">
      <label>Nombre Mascota</label>
      <input type="text" class="form-control" id="nombreMascota"
        name="nombreMascota" required [(ngModel)]="modelo.nombre"
        #nombreMascota="ngModel"/>
      <div class="alert alert-danger" [hidden] = "nombreMascota.valid
        || nombreMascota.pristine">
        El nombre de la mascota es obligatorio
      </div>
     </div>
    <div class="form-group">
        <label for="fechaNacimiento">Fecha de nacimiento</label>
        <input type="date" class ="form-control" id="fechaNacimiento"
        name="fechaNacimineto" required [(ngModel)] ="modelo.fechaNacimiento"
        #fechaNacimiento="ngModel"/>
        <div class="alert alert-danger" [hidden]="fechaNacimiento.valid
        ||fechaNacimiento.pristine">
          La fecha de nacimiento de la mascota es obligatoria
        </div>
    </div>

    <div class="form-group">
      <label for="tipoMascota">Tipo</label>
      <select id="tipoMascota" class="form-select" name="tipoMascota"
        required [(ngModel)]="modelo.tipo" (change) = "selectTipoMascotaChange()"     >
      <option [value]="undefined" selected disabled>---</option>
      <option *ngFor="let tipo of tipoMascotaArray" [ngValue]="tipo">{{tipo.toString()}}</option>
      </select>
      <div class="alert alert-danger"[hidden]="modelo.tipo != undefined">
        El tipo mascota es obligatorio
        </div>
      </div>


    <div class="form-group">
      <label for="razaMascota">Raza</label>
      <select id="razaMascota" class="form-select"name="razaMascota"required [(ngModel)]="modelo.raza">
        <option [value]="undefined" selected disabled>---</option>
        <option *ngFor ="let raza of razaMascotaArray" [ngValue]="raza">{{raza.toString()}}</option>
        </select>
        <div class="alert alert-danger" [hidden] = "modelo.raza != undefined">
          La Raza de la mascota es obligatoria, es necesario elegir primero el tipo mascota
        </div>

     <div class="form-group">
      <label>Sexo Mascota</label>
      <input type="text" class="form-control" id="razaMascota"
        name="sexoMascota" required [(ngModel)]="modelo.sexo"
        #sexoMascota="ngModel"/>
      <div class="alert alert-danger" [hidden] = "sexoMascota.valid
        || sexoMascota.pristine">
        El sexo de la mascota es obligatorio
      </div>
     </div>

     <div class="form-group">
      <label>Descripcion Mascota</label>
      <input type="text" class="form-control" id="descriptionMascota"
        name="descriptionMascota" required [(ngModel)]="modelo.description"
        #descriptionMascota="ngModel"/>
      <div class="alert alert-danger" [hidden] = "descriptionMascota.valid
        || descriptionMascota.pristine">
        La descripcion de la mascota es obligatorio
      </div>
     </div>

     <div class="form-group">
      <label>Edad de la Mascota</label>
      <input type="text" class="form-control" id="edadMascota"
        name="edadMascota" required [(ngModel)]="modelo.edad"
        #edadMascota="ngModel"/>
      <div class="alert alert-danger" [hidden] = "edadMascota.valid
        || edadMascota.pristine">
        La edad de la mascota es obligatorio
      </div>
     </div>

    <button type="submit" class="btn btn-success" [disabled]="!mascotasForm.form.valid" >
      Enviar Información</button>
        {{modelo.nombre }}

</div>
